{% load i18n ash_tags %}
{% if nav_menu %}
  {% if app_list %}
      <div class="navbar-content scroll-div">
          <ul class="nav pcoded-inner-navbar">
          {% for app in app_list %}
              {% if app.models|length > 1 %}
                <li class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link ">
                    <span class="pcoded-micon">
                        <i class="feather {% ash_get_model_icon app.app_label %} "></i>
                    </span>
                    <span title="{{app.name}}" class="pcoded-mtext">{% blocktrans with name=app.name|truncatechars:20 %}{{name}}{% endblocktrans %}</span>
                    </a>
                    <ul class="pcoded-submenu">
                    {% for model in app.models %}
                        <li class="position-relative">
                          <a href="{{ model.admin_url }}" class="" title="{{model.name}}" >{% blocktrans with name=model.name|truncatechars:20 %}{{name}}{% endblocktrans %}</a>
                          {% if model.add_url %}
                            <div><a href="{{ model.add_url }}" class="sidebar-sub-addlink"><i class="feather icon-plus f-15"></i></a></div>
                          {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                </li>
              {% else %}
                  {% with app.models.0 as model %}
                  <li class="nav-item">
                    <a href="{{ model.admin_url }}" class="nav-link ">
                    <span class="pcoded-micon">
                        <i class="feather {% ash_get_model_icon app.app_label %} "></i>
                    </span>
                    <span title="{{model.name}}" class="pcoded-mtext">{% blocktrans with name=model.name|truncatechars:20 %}{{name}}{% endblocktrans %}</span>
                    </a>
                    {% if model.add_url %}
                      <div><a href="{{ model.add_url }}" class="sidebar-main-addlink"><i class="feather icon-plus f-15"></i></a></div>
                    {% endif %}
                  </li>
                  {% endwith %}
              {% endif %}
          {% endfor %}
          </ul>
      </div>
  {% else %}
      <p>{% trans 'You don’t have permission to view or edit anything.' %}</p>
  {% endif %}
{% else %}
  {% if app_list %}
    {% for app in app_list %}
      <div class="app-{{ app.app_label }} module{% if app.app_url in request.path %} current-app{% endif %}">
        <table>
          <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
          </caption>
          {% for model in app.models %}
            <tr class="model-{{ model.object_name|lower }}{% if model.admin_url in request.path %} current-model{% endif %}">
              {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}"{% if model.admin_url in request.path %} aria-current="page"{% endif %}>{{ model.name }}</a></th>
              {% else %}
                <th scope="row">{{ model.name }}</th>
              {% endif %}

              {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
              {% else %}
                <td></td>
              {% endif %}

              {% if model.admin_url and show_changelinks %}
                {% if model.view_only %}
                  <td><a href="{{ model.admin_url }}" class="viewlink">{% trans 'View' %}</a></td>
                {% else %}
                  <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                {% endif %}
              {% elif show_changelinks %}
                <td></td>
              {% endif %}
            </tr>
          {% endfor %}
        </table>
      </div>
    {% endfor %}
  {% else %}
    <p>{% trans 'You don’t have permission to view or edit anything.' %}</p>
  {% endif %}
{% endif %}
