{% load i18n static ash_tags %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "admin/datta-able/fonts/fontawesome/css/fontawesome-all.min.css" %}">
    <link rel="stylesheet" href="{% static "admin/datta-able/plugins/animation/css/animate.min.css" %}">
    <link rel="stylesheet" href="{% static "admin/datta-able/css/style.css" %}">
    <link rel="stylesheet" href="{% static "admin/datta-able/css/vazir-fonts.css" %}">
    {% if LANGUAGE_BIDI %}
      <link rel="stylesheet" type="text/css" href="{% static "admin/datta-able/css/layout/rtl.css" %}">
    {% endif %}
    {% block extrahead %}{% endblock %}
    {% block extrastyle %}{% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
  </head>

  <body class="{% block bodyclass %}{% endblock %}" data-admin-utc-offset="{% now "Z" %}">
    {% block ash_block_form_class_setter %}
      {% ash_form_class_setter form %} 
      {% for form in formset %}
        {% ash_form_class_setter form %} 
      {% endfor %}
    {% endblock ash_block_form_class_setter %}
    {% block ash_block_messages_class_setter %}
      {% ash_messages_class_setter messages %}
    {% endblock ash_block_messages_class_setter %}
    <!-- Container -->
    {% block container %}
    <div id="container">
        <!-- [ Pre-loader ] start -->
        <div class="loader-bg">
          <div class="loader-track">
            <div class="loader-fill"></div>
          </div>
        </div>
        <!-- [ Pre-loader ] End -->

        <!-- [ navigation menu ] start -->
        {% comment %} {% if not is_popup and is_nav_sidebar_enabled %}
        {% endif %} {% endcomment %}
        {% block nav-sidebar %}
          {% include "admin/nav_sidebar.html" %}
        {% endblock %}
        <!-- [ navigation menu ] end -->

        <!-- [ Header ] start -->
        {% if not is_popup %}
        <header class="navbar pcoded-header navbar-expand-lg navbar-light">
            <div class="m-header">
                <a class="mobile-menu" id="mobile-collapse1" href="javascript:"><span></span></a>
                <a href="{% if not is_popup %}{% url "admin:index" %}{% else %}#{% endif %}" class="b-brand">
                      <div class="b-bg">
                          <i class="feather {% ash_get_setting "ASH_SITE_LOGO_ICON" %}"></i>
                      </div>
                      <span class="b-title">{% ash_get_setting "ASH_SITE_HEADER" %}</span>
                  </a>
            </div>
            <a class="mobile-menu" id="mobile-header" href="javascript:">
                <i class="feather icon-more-horizontal"></i>
            </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li><a href="javascript:" class="full-screen" onclick="javascript:toggleFullScreen()"><i class="feather icon-maximize"></i></a></li>
                    {% comment %} 
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="javascript:" data-toggle="dropdown">Dropdown</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="javascript:">Action</a></li>
                            <li><a class="dropdown-item" href="javascript:">Another action</a></li>
                            <li><a class="dropdown-item" href="javascript:">Something else here</a></li>
                        </ul>
                    </li>
                    {% endcomment %}

                    {% comment %} 
                    <li class="nav-item">
                        <div class="main-search">
                            <div class="input-group">
                                <input type="text" id="m-search" class="form-control" placeholder="Search . . .">
                                <a href="javascript:" class="input-group-append search-close">
                                    <i class="feather icon-x input-group-text"></i>
                                </a>
                                <span class="input-group-append search-btn btn btn-primary">
                                    <i class="feather icon-search input-group-text"></i>
                                </span>
                            </div>
                        </div>
                    </li>
                    {% endcomment %}
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% comment %}
                    <li>
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="javascript:" data-toggle="dropdown"><i class="icon feather icon-bell"></i></a>
                            <div class="dropdown-menu dropdown-menu-right notification">
                                <div class="noti-head">
                                    <h6 class="d-inline-block m-b-0">Notifications</h6>
                                    <div class="float-right">
                                        <a href="javascript:" class="m-r-10">mark as read</a>
                                        <a href="javascript:">clear all</a>
                                    </div>
                                </div>
                                <ul class="noti-body">
                                    <li class="n-title">
                                        <p class="m-b-0">NEW</p>
                                    </li>
                                    <li class="notification">
                                        <div class="media">
                                            <img class="img-radius" src="assets/images/user/avatar-1.jpg" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <p><strong>John Doe</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>30 min</span></p>
                                                <p>New ticket Added</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="n-title">
                                        <p class="m-b-0">EARLIER</p>
                                    </li>
                                    <li class="notification">
                                        <div class="media">
                                            <img class="img-radius" src="assets/images/user/avatar-2.jpg" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <p><strong>Joseph William</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>30 min</span></p>
                                                <p>Prchace New Theme and make payment</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="notification">
                                        <div class="media">
                                            <img class="img-radius" src="assets/images/user/avatar-3.jpg" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <p><strong>Sara Soudein</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>30 min</span></p>
                                                <p>currently login</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="noti-footer">
                                    <a href="javascript:">show all</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endcomment %}
                    {% block usertools %}
                      {% if has_permission %}
                        <li>
                          <div class="dropdown drp-user">
                            <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon feather icon-settings"></i>
                                {{user.get_username}}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-notification">
                                <div class="pro-head">
                                    {% comment %} <img src="assets/images/user/avatar-1.jpg" class="img-radius" alt="User-Profile-Image"> {% endcomment %}
                                    <span>
                                      {% block welcome-msg %}
                                        {% trans 'Welcome,' %}
                                        <strong>{% firstof user.get_short_name user.get_username %}</strong>.
                                      {% endblock %}
                                    </span>
                                    <a href="{% url 'admin:logout' %}" class="dud-logout" title="Logout">
                                        <i class="feather icon-log-out"></i>
                                    </a>
                                </div>
                                <ul class="pro-body">
                                  {% block userlinks %}
                                    {% if site_url %}
                                        <li><a href="{{ site_url }}" class="dropdown-item"><i class="feather icon-home"></i> {% trans 'View site' %} </a></li>
                                    {% endif %}
                                    {% if user.is_active and user.is_staff %}
                                        {% url 'django-admindocs-docroot' as docsroot %}
                                        {% if docsroot %}
                                            <li><a href="{{ docsroot }}" class="dropdown-item"><i class="feather icon-settings"></i> {% trans 'Documentation' %} </a></li>
                                            <a href=""></a> /
                                        {% endif %}
                                    {% endif %}
                                    {% if user.has_usable_password %}
                                      <li><a href="{% url 'admin:password_change' %}" class="dropdown-item"><i class="feather icon-user"></i> {% trans 'Change password' %} </a></li>
                                    {% endif %}
                                  {% endblock %}
                                </ul>
                            </div>
                          </div>
                        </li>
                      {% endif %}
                    {% endblock %}
                </ul>
            </div>
        </header>
        {% endif %}
        <!-- [ Header ] end -->

        <!-- [ Main Content ] start -->
        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <!-- [ breadcrumb ] start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">{{ title }}</h5>
                                        </div>
                                        {% if not is_popup %}
                                          {% block breadcrumbs %}
                                            <ul class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="{% url 'admin:index' %}"><i class="feather icon-home"></i></a></li>
                                                <li class="breadcrumb-item"><a href="javascript:">{{ title }}</a></li>
                                            </ul>
                                          {% endblock %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ breadcrumb ] end -->
                        <div class="main-body">
                          <div class="page-wrapper">
                              <!-- [ Main Content ] start -->
                              {% block messages %}
                                {% if messages %}
                                  <div class="row">
                                    <div class="col-sm-12">
                                      <div class="card">
                                        <div class="card-header">
                                          <h5>{% trans "Admin Messages" %}</h5>
                                          <div class="card-header-right">
                                            <div class="btn-group card-option">
                                                <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-Expand="false">
                                                    <i class="feather icon-more-horizontal"></i>
                                                </button>
                                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                                    {% if not LANGUAGE_BIDI %}
                                                      <li class="dropdown-item full-card"><a href="javascript:"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                                    {% endif %}
                                                    <li class="dropdown-item minimize-card"><a href="javascript:"><span><i class="feather icon-minus"></i>Collapse</span><span style="display:none"><i class="feather icon-plus"></i> Expand</span></a></li>
                                                    {% comment %} <li class="dropdown-item reload-card"><a href="javascript:"><i class="feather icon-refresh-cw"></i> reload</a></li> {% endcomment %}
                                                    <li class="dropdown-item close-card"><a href="javascript:"><i class="feather icon-trash"></i>Remove</a></li>
                                                </ul>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="card-block">
                                          {% for message in messages %}
                                            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</div>
                                          {% endfor %}
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                {% endif %}
                              {% endblock messages %}

                              <div class="row">
                                {% block content %}
                                <div class="{% block content_coltype %}col-lg-12{% endblock %}">
                                  <div class="card">
                                    <div class="card-header">
                                      {% block pretitle %}{% endblock %}
                                      {% block content_title %}{% if title %}<h5>{{ title }}</h5>{% endif %}{% endblock %}
                                      {% block content_subtitle %}{% if subtitle %}<h6>{{ subtitle }}</h6>{% endif %}{% endblock %}
                                      <div class="card-header-right">
                                        <div class="btn-group">{% block object-tools %}{% endblock %}</div>
                                        <div class="btn-group card-option">
                                            <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-Expand="false">
                                                <i class="feather icon-more-horizontal"></i>
                                            </button>
                                            <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                                {% if not LANGUAGE_BIDI %}
                                                  <li class="dropdown-item full-card"><a href="javascript:"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                                {% endif %}
                                                <li class="dropdown-item minimize-card"><a href="javascript:"><span><i class="feather icon-minus"></i>Collapse</span><span style="display:none"><i class="feather icon-plus"></i> Expand</span></a></li>
                                            </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="card-block p-3">
                                      {% block content_content %}{% endblock %}
                                      {{ content }}
                                      <br class="clear">
                                    </div>
                                    </div>
                                </div>
                                {% endblock %}

                                {% block sidebar %}
                                <div class="{% block sidebar_coltype %}d-none{% endblock %}">
                                  <div class="card side-bar">
                                    <div class="card-header">
                                      {% block sidebar_title %}{% endblock %}
                                      <div class="card-header-right">
                                          <div class="btn-group card-option">
                                              <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-Expand="false">
                                                  <i class="feather icon-more-horizontal"></i>
                                              </button>
                                              <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                                  {% if not LANGUAGE_BIDI %}
                                                    <li class="dropdown-item full-card"><a href="javascript:"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                                  {% endif %}
                                                  <li class="dropdown-item minimize-card"><a href="javascript:"><span><i class="feather icon-minus"></i>Collapse</span><span style="display:none"><i class="feather icon-plus"></i> Expand</span></a></li>
                                                  {% comment %} <li class="dropdown-item reload-card"><a href="javascript:"><i class="feather icon-refresh-cw"></i> reload</a></li> {% endcomment %}
                                                  {% comment %} <li class="dropdown-item close-card"><a href="javascript:"><i class="feather icon-trash"></i>Remove</a></li> {% endcomment %}
                                              </ul>
                                          </div>
                                      </div>
                                    </div>
                                    <div class="card-block px-3 py-3">
                                      {% block sidebar_content %}{% endblock %}
                                      <br class="clear">
                                    </div>
                                  </div>
                                </div>
                                {% endblock %}
                              </div>
                              <!-- [ Main Content ] end -->
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block footer %}<div id="row"></div>{% endblock %}
    </div>
    {% endblock container %}
    <!-- END Container -->
    <script src="{% static "admin/datta-able/js/vendor-all.min.js" %}"></script>
    <script src="{% static "admin/datta-able/plugins/bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "admin/datta-able/js/pcoded.min.js" %}"></script>
  </body>
</html>
