{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <div id="content-main" class="col-lg-9">
    {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
    </div>
{% endblock %}

{% block sidebar_coltype %}col-lg-3{% endblock %}
{% block sidebar_title %}
    <h5>{% trans 'Recent actions' %}</h5>
    <h6>{% trans 'My actions' %}</h6>
{% endblock %}

{% block sidebar_content %}
    {% load log %}
    {% get_admin_log 10 as admin_log for_user user %}
    {% if not admin_log %}
        <p>{% trans 'None available' %}</p>
    {% else %}

    <table class="table table-hover table-wrap">
        <tbody>
        {% for entry in admin_log %}
            <tr>
                <td>
                    {% if entry.is_deletion or not entry.get_admin_url %}
                        {{ entry.object_repr }}
                    {% else %}
                        <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                    {% endif %}
                    <br>
                    {% if entry.content_type %}
                        <span class="mini quiet">{% filter capfirst %}{{ entry.content_type.name }}{% endfilter %}</span>
                    {% else %}
                        <span class="mini quiet">{% trans 'Unknown content' %}</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}




<li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">

</li>
