font-face {
  font-family: Vazirfa;
  src: url("../fonts/vazir/Vazir.ttf");
  font-weight: 500;
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: Vazirfa;
  src: url("../fonts/vazir/Vazir-Medium.ttf");
  font-weight: 600;
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: Vazirfa;
  src: url("../fonts/vazir/Vazir-Thin.ttf");
  font-weight: 400;
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: Vazirfa;
  src: url("../fonts/vazir/Vazir-Light.ttf");
  font-weight: 300;
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: Vazirfa;
  src: url("../fonts/vazir/Vazir-Bold.ttf");
  font-weight: bold;
  unicode-range: U+0600-06FF;
}